:root {
  --colNum: 10;
}

#root {
  font-size: 2vh;
  display: grid;
}

.tips-visible {
  visibility: visible;
}

.tips-invisible {
  visibility: hidden;
}

#epoch {
  margin: 1vh;
  width: 112vh;
  text-align: center;
}

#final-ra {
  color: gray;
  font-size: 75%;
}

#final-ra .ra-probability {
  font-size: 150%;
}

#info {
  margin: 1vh;
  width: 112vh;
  text-align: center;
  font-size: 80%;
}

#playerID {
  margin: 1vh;
}

#ra-board {
  border-radius: 1vh;
  display: grid;
  grid-gap: 1vh;
  padding: 1vh;
  margin: 1vh;
  justify-items: center;
  min-width: calc(8 * 10vh + 1vh);
  width: calc(var(--colNum) * 10vh + 1vh);
  box-shadow: 0px 0px 1vh 0.2vh rgba(0, 0, 0, 0.25);
}

#ra-track {
  border: 1px solid var(--raTrack);
  border-radius: 1vh;
  display: grid;
  grid-template-columns: repeat(var(--colNum), 9vh);
  grid-gap: 1vh;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 1vh;
}

#auction-track {
  border: 1px solid var(--auctionTrack);
  border-radius: 1vh;
  display: grid;
  grid-template-columns: repeat(8, 9vh);
  grid-gap: 1vh;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 1vh;
}

#sun-space {
  display: grid;
  text-align: center;
  justify-items: center;
}

#players {
  display: flex;
}
