:root {
  --ra: rgb(134, 18, 18);
  --river: rgb(33, 96, 214);
  --gold: rgb(255, 208, 0);
  --god: rgb(255, 145, 0);
  --monument: rgb(41, 107, 138);
  --pharaoh: rgb(36, 114, 55);
  --civilization: rgb(96, 118, 121);
  --disaster: rgb(0, 0, 0);
}
